.footer{
    text-align: center;
    height: 2rem;
    align-items: center;
    background-color: var(--color-secondary);
    color: #ffffff;
    height: 86px;
    display: flex;
    justify-content: center;
}