html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root{
  --color-primary: #FDCF43;
  --color-secondary: #000040;
  --color-detail-blue: #428BCA;
  --color-detail-blue-on-hover: #206199;
}
img{
  border-radius: 6px;
}