.layout{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.container {
    display: flex;
    width: 70%;
    margin: 0 auto;
    padding: 40px;
}
.container aside {
    min-width: 200px;
    border-right: 1px solid black;
}

.container main{
    margin:0  20px;
}

@media (max-width: 920px) {
    .container{
        flex-direction: column;
        width: 90%;
        padding: 40px 10px;
    }

    .container aside{
        border-right: 1px solid transparent;
        border-bottom: 1px solid black;
        margin: 12px;
    }
}